<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
        max-width: 1080px;
        margin: 40px auto;
    }

    th, td {
        border: 1px solid #dcf0f0;
        padding: 20px 20px;
        text-align: left;
    }

    th {
        background-color: #dcf0f0;
    }
</style>
<body>
<div>
    <table>
        <thead>
        <tr>
            <th scope="col">model</th>
            <th scope="col">year</th>
            <th scope="col">color</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getModel()}">
            <td th:text="${car.getYear()}">
            <td th:text="${car.getColor()}">
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>